[submodule "llama3"]
	path = llama3
	url = https://github.com/meta-llama/llama3.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "llama-recipes"]
	path = llama-recipes
	url = https://github.com/meta-llama/llama-recipes.git
